*.swp
*.*~
project.lock.json
.DS_Store
*.pyc
nupkg/

# Visual Studio Code
.vscode

# Rider
.idea

# Terraform
request.json
terraform/**/test.yml

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/
[Oo]ut/
msbuild.log
msbuild.err
msbuild.wrn

# Visual Studio 2015
.vs/

# Coverage
TestResults

# Credentials
!*.secret
.gitsecret-development/keys/random_seed
GetIntoTeachingApi/Credentials/development.yml

.gitsecret-staging/keys/random_seed
GetIntoTeachingApi/Credentials/staging.yml

.gitsecret-production/keys/random_seed
GetIntoTeachingApi/Credentials/production.yml
