global:
  scrape_interval: 10s

scrape_configs:
- job_name: paas-prometheus-exporter-${name}
  scheme: https
  static_configs:
    - targets: [${paas_prometheus_exporter_endpoint}]
- job_name: ${redis} 
  scheme: https
  static_configs:
    - targets: [${redis}]
- job_name: ${postgres-1}
  scheme: https
  static_configs:
    - targets: [${postgres-1}]
- job_name: ${postgres-2}
  scheme: https
  static_configs:
    - targets: [${postgres-2}]
- job_name: Application
  dns_sd_configs:
    - names: 
       - get-into-teaching-app-dev-internal.apps.internal
       - get-into-teaching-api-dev-internal.apps.internal
       - get-teacher-training-adviser-service-dev-internal.apps.internal
      type: 'A'
      port: 8080

alerting:
  alertmanagers:
  - scheme: https
    static_configs:
    - targets: [${alertmanager_endpoint}]

rule_files:
  - alert.rules
