- job_name: Application
  dns_sd_configs:
    - names: 
       - ${git_app}
      type: 'A'
      port: 3000
- job_name: TTA
  dns_sd_configs:
    - names: 
       - ${git_tta}
      type: 'A'
      port: 3000
- job_name: API
  dns_sd_configs:
    - names: 
       - ${git_api}
      type: 'A'
      port: 8080
