# config file version
apiVersion: 1

# list of datasources that should be deleted from the database
deleteDatasources:
- name: Prometheus-${name}
  orgId: 1

# list of datasources to insert/update depending
# what's available in the database
datasources:
- name: PrometheusExample
  type: prometheus
  access: proxy
  orgId: 1
  url: "https://${prometheus_endpoint}"
  basicAuth: false
  withCredentials: false
  isDefault: false
  editable: false
