# config file version
apiVersion: 1

# list of datasources that should be deleted from the database
deleteDatasources:
- name: Prometheus-${name}
  orgId: 1

# list of datasources to insert/update depending
# what's available in the database
datasources:
- name: Prometheus
  type: prometheus
  access: proxy
  orgId: 1
  url: "https://${prometheus_endpoint}"
  basicAuth: false
  withCredentials: false
  isDefault: false
  editable: false

- name: Elasticseach
  orgId:       1
  type:        "elasticsearch"
  typeLogoUrl: "public/app/plugins/datasource/elasticsearch/img/elasticsearch.svg"
  access:      "proxy"
  url:         "https://89d7be0f-ddcd-437e-ad3c-c8125d0bad00-es.logit.io"
  password:    "${elastic_pass}"
  user":       "${elastic_user}"
  database:    "logstash-*"
  basicAuth:   true
  isDefault:   false
