name: Rebuild master docker image
on:
  workflow_dispatch:

  schedule:
    - cron: '0 12 * * 0'

permissions:
  contents: write
  packages: write
  id-token: write

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: set-up-environment
        uses: DFE-Digital/github-actions/set-up-environment@master

      - name: Set docker images variables release
        id: vars
        run: |
             if [ "${{github.ref}}" == "refs/heads/master" ]
             then
                GIT_BRANCH=master
             else
                GIT_BRANCH=${{ github.ref_name }}
             fi
             GIT_COMMIT=$(git rev-parse HEAD)
             echo "sha_short=$(echo $GIT_COMMIT | cut -c -7)" >> $GITHUB_OUTPUT
             echo "BRANCH_TAG=$GIT_BRANCH" >> $GITHUB_ENV

      - name: Set build action environment variable release
        id: build-vars-release
        run: |
            {
              echo 'TAGS_VAR<<EOF'
              echo ${{ env.DOCKER_REPOSITORY }}:${{ env.BRANCH_TAG }}
              echo ${{ env.DOCKER_REPOSITORY }}:sha-${{ steps.vars.outputs.sha_short }}
              echo ${{ env.DOCKER_REPOSITORY }}:${{ steps.vars.outputs.sha_short }}
              echo EOF
            } >> "$GITHUB_ENV"

      - name: Build and push docker image
        id: build-image-release
        uses: DFE-Digital/github-actions/build-docker-image@master
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          context: ""
          max-cache: false
          reuse-cache: false
          main-branch: "master"
          docker-sha: ${{ steps.vars.outputs.sha_short }}
          docker-repository: ${{ env.DOCKER_REPOSITORY }}
          snyk-token: ${{ secrets.SNYK_TOKEN }}

      - name: Slack Notification
        if: failure() && github.ref == 'refs/heads/master'
        uses: rtCamp/action-slack-notify@master
        env:
           SLACK_COLOR: ${{ env.SLACK_ERROR }}
           SLACK_MESSAGE: 'There has been a failure building the application'
           SLACK_TITLE: 'Failure Building Application'
           SLACK_WEBHOOK: ${{ secrets.SLACK_WEBHOOK }}

      - name: Notify teams channel on job failure
        if: failure() && github.ref == 'refs/heads/master'
        uses: DFE-Digital/github-actions/send-to-teams-channel@master
        with:
          teams-webhook-url: ${{ secrets.TEAMS_WEBHOOK_URL }}
          title: Build No Cache
          service: ${{ vars.TEAMS_MSG_SERVICE_NAME }}
          message: |
            Failure Building Without Cache
