name: Run .NET tests and Lint Dockerfile 
on:
  pull_request:
    types: [assigned, opened, synchronize, reopened]
env:
  DOCKERHUB_REPOSITORY: dfedigital/get-into-teaching-api
  GOVUKPAAS_ORG: dfe-teacher-services
  GOVUKPAAS_SPACE: get-into-teaching
  CONTAINER: get-into-teaching-api

jobs:
  test_dot_net:
    runs-on: ubuntu-latest
    steps:

    - uses: actions/checkout@v2

    - name: Setup .NET Core
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 3.1.200

    - name: Install NotifyBintray
      run:  dotnet nuget add source --name NotifyBintray https://api.bintray.com/nuget/gov-uk-notify/nuget 

    - name: Install dependencies
      run: sudo dotnet restore

    - name: Build
      run: sudo dotnet build --configuration Release --no-restore /warnaserror

    - name: Spin Up Stack
      run: docker-compose up -d

    - name: Test
      run: sudo dotnet test --no-restore --verbosity normal

    - name: Lint Dockerfile
      uses: brpaz/hadolint-action@master
      with:
        dockerfile: "Dockerfile"

    - name: Slack Notification
      if: failure()
      uses: rtCamp/action-slack-notify@master
      env:
           SLACK_CHANNEL: getintoteaching_tech
           SLACK_COLOR: '#3278BD'
           SLACK_ICON: https://github.com/rtCamp.png?size=48
           SLACK_MESSAGE: ':disappointed_relieved: Pipeline Failure carrying out job ${{github.job}} :disappointed_relieved:'
           SLACK_TITLE: 'Failure: ${{ github.workflow }}'
           SLACK_WEBHOOK: ${{ secrets.SLACK_WEBHOOK }}
